@charset "utf-8";

/*공통*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 10pt/180% "맑은 고딕", "돋움";
    color: #333;
    background: #f2f2f2;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
}

#layout {
    width: 1200px;
    border: 0px solid pink;
    margin: auto;
    background: white;
    position: relative;
}

/*상단*/
header {
    display: flex;
    height: 110px;
    background: black;

}

header h1 {
    flex: 1;
    /* border: 3px solid red; */
    position: relative;
}

header>h1>a {
    position: absolute;
    /* border: 1px solid blue; */
    ;
    margin-left: 4%;
    margin-top: 4%
}
header li>a.active {
    color: red; /* 유지하고 싶은 호버 색상 */
}

header ul {
    flex: 1.7;
    list-style: none;
    display: flex;
    margin-top: 60px;
}

/*메인메뉴*/
header li {
    flex: 1;
    text-align: center;
    position: relative;
}

header li>a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    padding-bottom: 16px;
}

header li>a:hover,
header li>a:focus {
    background: black;
    color: red;
}

/*서브메뉴*/
header+div {
    height: 150px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 0;
}

nav {
    position: absolute;
    z-index: 2;
    width: 100%;
    /*display:none; height:130px;*/
    height: 0;
    overflow: hidden;
}

nav>a {
    padding: 9px;
    padding-bottom: 10px;
    color: white;
}

nav>a:hover,
nav>a:focus {
    color: #ffc000;
}

a.blank {
    outline: none;
}

a.blank:hover {
    background: transparent;
}

/*이미지슬라이드*/
#slideArea {
    margin-top: 40px;
    /* border: 1px solid #000; */
}

#slideArea h2 {
    display: none;
}

#slideArea div {
    position: relative;
    height: 300px;
}

#slideArea img {
    position: absolute;
    transition: opacity 1.5s;
}

/*메인 (공지사항+갤러리+퀵배너)*/
main {
    display: flex;
    height: 250px;
    padding-top: 40px;
}

main h2 {
    border: 1px solid #ff5050;
    display: inline-block;
    color: #ff5050;
    font-size: 1.15rem;
    padding: 3px 6px 4px 6px;
    margin-bottom: 15px;
}

/*공지사항*/
#notice {
    border: 0px solid blue;
    flex: 1.05;
}

#notice a {
    display: inline;
}

#notice a:hover {
    color: red;
    text-decoration: underline;
}

#notice ul {
    list-style: none;
    padding-left: 5px;
    line-height: 220%;
}

#notice li {
    border-bottom: 1px dashed #666;
}

#notice span {
    float: right;
}

/*갤러리*/
#gallery {
    border: 0px solid blue;
    flex: 1;
    margin: 0 40px;
}

#gallery div {
    display: flex;
    border: 0px solid red;
    justify-content: space-between;
}

#gallery img {
    display: block;
}

/*퀵배너*/
#quick {
    border: 0px solid blue;
    flex: 1;
}

#quick img {
    display: block;
}

/* 하단 */
footer {
    margin-top: 40px;
    height: 100px;
    background: #e6e6e6;
    padding: 10px;
    display: flex;
    align-items: center;
}

footer p {
    flex: 1;
}

footer a {
    display: inline-block;
    margin-right: 10px;
}

.asdf {
    margin-right: 6px;
    color: #999; 
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

/* 팝업 */
#black {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.90);
    display: none;
}

#black h3 {
    width: 400px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background: #000;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 7%;
}

#black button {
    padding: 10px 20px;
}


#black section {
    width: 500px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25vh;
}

#black img {
    width: 400px;
    margin-left: 7%;
}

#black p {
    text-align: right;
}
